@font-face {
  font-family: "Geist Pixel";
  src: url("../../node_modules/geist/dist/fonts/geist-pixel/GeistPixel-Square.woff2")
    format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}